@font-face {
    font-family: 'Lato-Medium';
    src: url(../fonts/Lato-Medium.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

footer {
    flex: 0 0 auto;
    background: #2a2a2a;
    font-family: 'Lato-Medium', sans-serif;
    font-size: 14px;
}

footer a {
    color: #646464;
    text-decoration: none;
    font-family: 'Lato-Medium', sans-serif;
}

.logo-nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 5px auto;
    border-bottom: 1px solid #a7a5a58f;
}

.logo-footer {
    opacity: 0.3;
}

.navigation-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.navigation-footer li {
    display: inline-block;
    margin-left: 50px;
}
  
.navigation-footer a {
    font-size: 10pt;
}

.navigation-footer a:hover {
    color: rgb(255, 255, 255);
} 


.designer-name {
    font-weight: bold;
}

.footer-info {
    margin: 23px auto;
}

.footer-info hr {
    align-self: stretch;
    border-color: #646464;
    border-style: solid;
}

.text-info, .options, .contacts {
    max-width: 350px;
    color: #646464;
}

.options {
    display: flex;
}

.options ul, .contacts ul {
    list-style: none;
    padding: 0;
}

.options a:hover {
    color: rgb(255, 255, 255);
}

.options nav:first-child {
    margin-right: 15px;
}

.foot-nav li{
    margin: 8px;
}

.foot-nav li:hover{
    color: rgb(255, 255, 255);
}

.footer-bullet {
    font-size: 11px;
    margin-right: 3px;
}



